.gradient-button {
  box-sizing: border-box;
  background-color: var(--slate-grey);
  color: var(--tan);
  border: none;
  font-weight: 300;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 30px;
  background-image: linear-gradient(50deg, var(--slate-grey), var(--red));
  background-size: 150% 100%;
  transition: background-position 0.5s ease-in-out;
  font-family: var(--nunito);
  white-space: nowrap;
  padding: 0.5rem 2rem;
}

.gradient-button:hover {
  background-position: 100% 150%;
}
