.message {
    display: flex;
    flex-direction: column;
    font-family: var(--rubik);
    border-radius: 30px;
    font-weight: 400;
    color: var(--text);
    margin: 1rem;
    border: 1px solid var(--slate-grey);
    box-shadow: 0px 0px 10px var(--slate-grey);
    background: rgba(98, 120, 144, 0.325);
    backdrop-filter: blur(10px);
}

svg path {
    transition: stroke 0.3s ease-in-out;
}

svg path:hover {
    stroke: var(--text);
}
