.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  position: relative;
}

.main-nav ul {
  list-style: none;
  display: flex;
  gap: 15rem;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 50%;
  top: 38%;
  transform: translateX(-50%);
}

.main-nav a {
  color: var(--slate-grey);
  text-decoration: none;
  font-family: var(--rubik);
  font-weight: 600;
  font-size: 1.3rem;

  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.8));

  background-image: linear-gradient(
    90deg,
    var(--tan) 25%,
    var(--red) 50%,
    var(--text) 100%
  );

  background-size: 300% 100%;

  background-position: 0% 50%;

  background-clip: text;
  -webkit-background-clip: text;

  transition: background-position 0.6s ease-out, filter 0.3s ease,
    color 0.3s ease;
}

.main-nav a:hover {
  color: transparent;

  background-position: 100% 50%;

  filter: drop-shadow(0px 0px 8px rgba(100, 34, 38, 0.6));
}

.nav-logo {
  width: 120px;
  transition: filter 0.3s ease, transform 0.3s ease;
}

.nav-logo:hover {
  filter: brightness(1.1) drop-shadow(0px 0px 8px rgba(70, 70, 69, 0.5));
  transform: scale(1.02);
}
